* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: antiquewhite;
}

.App {
  background-color: rgb(228, 126, 228);
  height: 95vh;
  width: 97.7vw;
  border: 10px solid black;
  margin: 10px;
  /* position: relative; */
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

h1 {
  font-size: 100px;
  top: 50%;
  margin-top: 100px;
  background-color: aquamarine;
  border: 5px solid black;
  width: fit-content;
  position: fixed;
  left: 0;
  padding: 10px 10px 10px 10px;
}

iframe {
  display: block;
  position: absolute;
  margin: auto;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: grayscale(100%);
}

#test-image {
  display: block;
  position: absolute;
  margin: auto;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle-container {
  position: relative;
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: transparent !important;
}

.title-container-l {
  position: relative;
  height: 500px;
  text-align: right;
}

h1:hover {
  animation-name: title;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes title {
  from {
    padding: 10px;
    filter: hue-rotate(0deg);
  }
  to {
    padding: 20px;
    filter: hue-rotate(90deg);
  }
}

.title-container-r {
  height: 500px;
  text-align: left;
}

.circle-inner {
  margin-right: 5px;
}

.circle {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 50%;
  position: absolute;
}

#circle-1 {
  border: none;
}

#circle-2,
#circle-3,
#circle-4,
#circle-5,
#circle-6,
#circle-7,
#circle-8,
#circle-9,
#circle-10 {
  /* width: 90%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-2 {
  height: 40%;
  width: 90%;
  background-color: aqua;
}

#circle-2[animation='1'] {
  animation-name: circle;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#circle-3 {
  height: 80%;
  width: 80%;
  background-color: aquamarine;
}

#circle-3[animation='1'] {
  animation-name: circle;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#circle-4 {
  height: 70%;
  width: 70%;
  background-color: purple;
}

#circle-4[animation='1'] {
  animation-name: circle;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#circle-5 {
  height: 60%;
  width: 60%;
  background-color: aquamarine;
}

#circle-5[animation='1'] {
  animation-name: circlefive;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#circle-6 {
  height: 50%;
  width: 20%;
  background-color: aqua;
}
#circle-7 {
  height: 40%;
  width: 14%;
  background-color: aquamarine;
}
#circle-8 {
  height: 30%;
  width: 30%;
  background-color: aqua;
}
#circle-9 {
  height: 20%;
  width: 20%;
  background-color: aquamarine;
}
#circle-10 {
  height: 10%;
  width: 10%;
  background-color: aqua;
}

@keyframes circle {
  from {
    background-color: aqua;
    filter: opacity(100%);
    height: 40%;
  }
  to {
    background-color: purple;
    filter: opacity(25%);
    height: 90%;
  }
}

@keyframes circlefive {
  from {
    background-color: transparent !important;
    filter: opacity(100%);
  }
  to {
    background-color: purple;
    filter: opacity(20%);
  }
}

/* quizsheet */

#play {
  width: 75px;
  margin: auto;
  display: block;
}

.play-container {
  width: 75px;
  height: 75px;
  border: 5px solid black;
  border-style: none solid solid solid;
  margin: auto;
}

.form-container {
  width: fit-content;
  margin: auto;
}

label {
  font-size: 20px;
}

form {
  margin-top: 10px;
  display: block;
}

input {
  height: 50px;
  width: 400px;
  font-size: 30px;
  border: 5px solid black;
  display: block;
  margin-bottom: 10px;
}

.labels,
.inputs,
.submit-buttons,
form,
.form-container {
  background-color: transparent !important;
}

.quiz-sheet {
  display: grid;
  grid-template-columns: 1fr 410px 1fr;
}

h2 {
  height: fit-content;
  margin: 10px;
  border: 5px solid black;
  padding: 5px;
  text-align: center;
}

.hearts {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(228, 126, 228);
  border: 5px black;
  border-style: solid solid none solid;
}

#heart {
  filter: hue-rotate(-0.1turn);
  background-color: transparent !important;
  height: 30px;
  padding: 5px;
}

#container-r {
  position: relative;
}

#points-available {
  position: absolute;
  bottom: 0;
  background-color: rgb(228, 126, 228);
  padding: 10px;
  margin: 0px;
  border-style: solid solid none solid;
}

#points {
  background-color: gray;
  color: aqua;
  padding: 5px;
  border-radius: 50%;
}

#score {
  width: fit-content;
  margin: auto;
  text-align: center;
}

/* login */

.login-container,
.login-container-text {
  position: absolute;
  height: 30vh;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border-radius: 50%; */
}

.login-container {
  filter: opacity(75%);
}

.login-container-text {
  background-color: transparent !important;
  border: 5px solid black;
  border-style: none solid solid solid;
  /* border-radius: 50%; */
}

#register-container.login-container,
#register-container.login-container-text {
  height: 49.5vh;
}

#login {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

#login-input {
  margin: auto;
  margin-bottom: 5px;
  height: 40px;
  width: 300px;
}

#login-submit,
#login-register {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

#login-register {
  padding: 10px;
  background-color: rgb(154, 241, 212);
  border-color: rgb(154, 241, 212) black black black;
}

#login-register:hover {
  cursor: pointer;
  color: rgb(228, 126, 228);
}

.required:after {
  content: ' *';
  color: red;
}

.button-container {
  display: flex;
  justify-content: center;
}

button,
.button-container {
  border: none;
  background-color: transparent !important;
}

#error {
  position: absolute;
  background-color: white;
}
